<mat-toolbar color="primary" class="pl-0">
    <div class="float-left d-none">
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
    </div>
    <div class="float-left">
        <button mat-flat-button color="primary" (click)="navigate('')">DSA Tools</button>
    </div>
    <div *ngFor="let menuItem of menuItems" class="float-left">
        <button mat-flat-button [color]="(currentMenuItem|async) == '/'+menuItem.path?'accent':'primary'" (click)="navigate(menuItem.path)" [disabled]="(menuItem.disabled)">{{menuItem.name}}</button>
    </div>
</mat-toolbar>
