<div class="div-parent border rounded p-1">
    <div class="d-flex p-1 m-0 text-mdlg" [hidden]="title === null">
        {{title}}
    </div>
    <mat-divider [hidden]="title === null"></mat-divider>
    <div class="container">
        <div class="row">
            <div class="col-2 d-flex align-middle align-items-center">
                <mat-label class="text-xl align-middle align-self-center">{{previewValue}}</mat-label>
            </div>
            <div class="col-10">
                <div class="row">
                    <mat-label class="text-center w-100 text-md">{{previewName}}</mat-label>
                </div>
                <div class="row">
                    <mat-slider class="w-100" min="0" [max]="items.length - 1" step="1" [value]="sliderValue" (valueChange)="onValueChange($event)" (input)="onInputChange($event)" color="accent"></mat-slider>
                </div>
            </div>
        </div>
    </div>
</div>