@use '@angular/material' as mat;
@import '~@angular/material/theming';

/* Default Colors
$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);
*/

$md-bluegray: (
    50 : #e7e9ea,
    100 : #c3c8ca,
    200 : #9ba3a7,
    300 : #737e84,
    400 : #556369,
    500 : #37474f,
    600 : #314048,
    700 : #2a373f,
    800 : #232f36,
    900 : #162026,
    A100 : #6ac6ff,
    A200 : #37b2ff,
    A400 : #049fff,
    A700 : #0090ea,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$md-indigo: (
    50 : #e8ebff,
    100 : #c5ceff,
    200 : #9eadff,
    300 : #778cff,
    400 : #5a73ff,
    500 : #3d5aff,
    600 : #3752ff,
    700 : #2f48ff,
    800 : #273fff,
    900 : #1a2eff,
    A100 : #ffffff,
    A200 : #fefeff,
    A400 : #cbcfff,
    A700 : #b2b7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-primary: mat.define-palette($md-bluegray, 500, 300, 700);
$my-accent: mat.define-palette($md-indigo, 500, 300, 700);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));